:root {
--main-color:#b4d0e7;
--button-color:#0061ff;
}

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex {
  display:flex
}

/*General*/
.padding-b {
  padding:80px 0px;
}
.margin-s {
  margin:30px 0px;
}
.margin-top {
  margin-top: 60px;
}

/*Title sizes*/

h1 {
  font-size: 4.5rem;
  font-weight: 800;
}

h2 {
  font-size:2.5rem;
}

/*Buttons*/
button {
  background-color:var(--button-color);
  color:white;
  border:none;
  font-size:1rem;
  padding:8px 15px;
  margin-left:15px;
}

button:hover {
  cursor:pointer;
}

.relative {
  display:relative;
}


/*-----------------------------HEADER-----------------------------*/
header {
  width:100%;
  background-color: var(--main-color);
}

.nav-menu {
  justify-content:space-between;
  background-color: white;
}

.nav-menu a {
  text-decoration: none;
}

.left-menu,
.right-menu {
  align-items: center;
  gap: 40px;
  padding:20px;
}

.jumbo {
  max-width:1200px;
  margin:auto;
  height: 780px;
}

.jumbo-img {
  max-width: 900px;
  max-height: 660px;
  display:absolute;
}

.fa-arrow-down {
  font-size:3rem;
  font-weight: bolder;
  margin-top:150px;
}


/*-----------------------------MAIN-----------------------------*/
main {
  max-width:1000px;
  margin:auto;
}

/*Radio-input*/

.check {
  margin-top:80px;
  margin-bottom:60px;
}

.radio-c:hover,
label:hover {
  cursor: pointer;
}

label {
  margin-right:10px;
  font-size: 0.9rem;
}

/* Plans */
.plans {
  justify-content:space-between;
  gap:40px;
}


