:root {
--main-color:#b4d0e7;
--button-color:#0061ff;
--borders-hr:#d1d1d4;
}

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex {
  display:flex
}

/*General*/
.padding-b {
  padding:80px 0px;
}

.margin-s {
  margin:30px 0px;
}
.margin-top {
  margin-top: 60px;
}

/*Title sizes*/

h1 {
  font-size: 4.5rem;
  font-weight: 800;
}

h2 {
  font-size:2.5rem;
}

h3 {
  font-size:1.5rem;
}

/*Buttons*/
button {
  background-color:var(--button-color);
  color:white;
  border:none;
  font-size:1rem;
  padding:8px 15px;
  margin-left:15px;
}

button:hover {
  cursor:pointer;
}

.relative {
  display:relative;
}


/*-----------------------------HEADER-----------------------------*/
header {
  width:100%;
  background-color: var(--main-color);
}

.nav-menu {
  justify-content:space-between;
  background-color: white;
}

.nav-menu a {
  text-decoration: none;
  color:black;
}

.left-menu,
.right-menu {
  align-items: center;
  gap: 40px;
  padding:20px;
}

.jumbo {
  max-width:1200px;
  margin:auto;
  height: 780px;
}

.jumbo-img {
  max-width: 900px;
  max-height: 660px;
  display:absolute;
}

.fa-arrow-down {
  font-size:3rem;
  font-weight: bolder;
  margin-top:150px;
}


/*-----------------------------MAIN-----------------------------*/
main {
  max-width:1050px;
  margin:auto;
}
/*---------PLANS SECTIONS---------*/
/*Radio-input*/
.check {
  margin-top:80px;
  margin-bottom:60px;
}

.radio-c:hover,
label:hover {
  cursor: pointer;
}

label {
  margin-right:10px;
  font-size: 0.9rem;
}

/* Plans */
.max-width {
  max-width:320px;
}

.plans {
  justify-content:space-between;
  gap:40px;
}

.border-small {
  border:1px solid var(--borders-hr);
}

.title-box {
  text-align: center;
  padding:15px;
  border-bottom:1px solid var(--borders-hr)
}

.info-container {
  padding:30px;
}

.info div {
  margin-top:12px;
}

.last-plan {
  margin-top:40px;
}


/*Price*/
.price {
  margin-top:20px;
  margin-bottom:10px;
}

.per-time {
  color:gray;
}

.descript {
  margin-left:5px;
}

/*Free-trial button*/
.free-trial {
  padding:15px 30px;
  margin-left:7.5px;
}

.contact-us-button {
  text-align: center;
}

.or-buy-now {
  margin:40px 0px;
}

/*hr*/
hr {
  width: 60px;
  border:none;
  height:1.5px;
  background-color: var(--borders-hr)
}

/*Perks*/
.perks {
  margin-top:40px;
}

.perk {
  margin:30px 0px;
}

.blue-check {
  color:var(--button-color)
}

/*last plan*/
.spacing {
  margin-top:20px;
  margin-bottom:50px;
}

.contact-us-button {
  justify-content: center;
  align-items: flex-start;
}

.container-spacing {
  justify-content:space-between;
}

/*---------FIND A PARTNER---------*/
.partner-img {
  width:630px;
  height:538px;
}

.partner-descr{
padding:65px;
}

.partner-p {
  margin:30px 0px;
}

.partner-button {
  border:1px solid black;
  background-color: white;
  color:black;
  padding:10px 20px;
  margin-left:0;
}

/*---------FIND A PARTNER---------*/
.wrap {
  flex-wrap: wrap;
  justify-content:space-between;
}

.feat-imgs {
  max-width:300px;
}

.features {
  margin-top:50px;
  max-width:300px;
}

.find-p {
  margin: 30px 0;
}


/*OUR CUSTOMERS*/
.learn-more .discover-more {
  margin-top:40px;
}